@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Varela+Round&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  color: black
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Varela', sans-serif; */
}

ul {
  list-style-type: none;
}

.main {
  display: flex;
}

.content_section {
  flex: 2
}

.sidebar_section {
  flex: 1;
  /* background: blue; */
}

.modal_background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  top: 0;
  left: 0;
}