.post_container {
  width: 100%;
  height: 100px;
  background-color: wheat;
  display: flex;
  padding: 10px 0;
}

.post_container:hover {
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}

.postcard_link:hover {
  text-decoration: underline;
}

.vote_container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  /* padding: 5px 20px; */
}

.vote {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.vote > * {
  flex: 1;
}

.upvote {
  margin-bottom: 5px
}

.downvote {
  margin-top: 5px
}

.vote_icon {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 15px;
  border: none;
  background-color: inherit;
  /* height: 20px */
}

.vote_number {
  text-align: center;
}

.upvote > .vote_icon {
  background-image: url(../assets/up-arrow.svg);
}

.downvote > .vote_icon {
  background-image: url(../assets/down-arrow.svg);
}

.upvote > .vote_number {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.voted_against {
  opacity: 0.2;
}

.voted_against:hover {
  opacity: 0.8;
}